@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  font-family: "Lato", sans-serif;
}

.player_container {
  background-color: white;
  -webkit-box-shadow: 0 0 1px 1px #efefef;
          box-shadow: 0 0 1px 1px #efefef;
  width: 60%;
  border-radius: 8px;
}

.divider {
  height: 1px;
  background: #efefef;
}

.divider.extended {
  height: 4px;
}

.current_track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.current_track .cover {
  height: 88px;
}

.current_track .cover img {
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.current_track .track_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 16px;
}

.current_track .track_details .content {
  padding-bottom: 8px;
}

.current_track .track_details .content .title, .current_track .track_details .content .artist {
  font-size: 18px;
  line-height: 22px;
}

.current_track .track_details .content .title {
  font-weight: 700;
}

.current_track .track_details .content .artist {
  font-weight: 400;
  color: #8f8f8f;
}

.current_track .track_details .progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.current_track .track_details .progressbar .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

.current_track .track_details .progressbar .labels span:last-child {
  color: #8f8f8f;
}

.current_track .track_details .progressbar .labels span:last-child::before {
  content: "-";
}

.current_track .track_details .progressbar .progressind {
  cursor: pointer;
  height: 5px;
  border-radius: 2.5px;
  background-color: #efefef;
}

.current_track .track_details .progressbar .progressind .progress {
  position: relative;
  background-color: #6b8cff;
  border-radius: 2.5px 0 0 2.5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.current_track .track_details .progressbar .progressind .progress::after {
  content: "";
  position: absolute;
  left: 95%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #6b8cff;
  border-radius: 50%;
  border: 2.5px solid white;
}

.track {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.track .cover {
  height: 56px;
}

.track .cover img {
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.track .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 16px;
}

.track .content .artist {
  color: #8f8f8f;
}

.track .total_time {
  color: #8f8f8f;
}

.selected {
  background-color: #f5f5f5;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.controls span {
  cursor: pointer;
}

.controls .controls_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls .controls_center span {
  padding: 0 8px;
}

.footer {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .15px;
  font-weight: 400;
  color: #8f8f8f;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 0 0 8px 8px;
}
